@import "./default.scss";
@import './loading.scss';
.container {
    .nav-left {
        height: calc(100vh);
        color: #fff;
        background-color: #001529;
    }

    .main {
        position: relative;
        height: calc(100vh);
        background-color: $colorL;
        overflow: auto;
    }

    .content {
        position: relative;
        padding: 20px;
    }
}