$color: rgb(245, 116, 116);

.container {

    .nav-left {
        height: calc(100vh);
        color: #fff;
        background-color: #001529;
    }

    .main {}

    .content {
        position: relative;
        padding: 20px;
    }
}